# Ignoring pipenv Python Venv
.venv

# Ignoring default IntelliJ IDEA platform project files (Python: PyCharm)
.idea
*.iml

# Ignoring default Visual Studio Code project files
.settings
.project

# Ignoring execution and tool caches
*.pyc
.mypy_cache