[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
pyyaml = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
"discord.py-stubs" = "*"

[pipenv]
allow_prereleases = true
